<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href={{ path('app_home') }}>EasyRésa</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={{ path ('app_rooms') }}>Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">About us</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href={{ path ('app_contact') }}>Contact</a>
        
        </li>
      </ul>
       
       <div class="d-grid gap-2 d-md-block">
      {% if app.user %}
        <a href={{ path ("app_logout")}} class="btn bg-dark text-white">Déconnexion</a>
        <a href={{ path ('app_mesreservations') }} class="btn btn-warning">Account</a>
      {% else %}
        <a href={{ path ('app_register') }} class="btn bg-dark text-white" >S'inscrire</a>
        <a href={{ path ('app_login') }} class= "btn btn-warning">Se connecter</a>
      {% endif %}
        </div>
     
    </div>
  </div>
</nav>