{% extends 'base.html.twig' %}

{% block title %}toutes les rooms
{% endblock %}

{% block body %}
<div class="container-fluid mb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                {{ form_start(form) }}
                {#<div class="form-group">
                     {{ form_label(form.capacity) }}
                    {{ form_widget(form.capacity) }}
                </div> #}
                <div class="form-group">
                    {{ form_label(form.material) }}
                    {{ form_widget(form.material) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.ergonomics) }}
                    {{ form_widget(form.ergonomics) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.software) }}
                    {{ form_widget(form.software) }}
                </div>
                <button type="submit" class="btn btn-primary">Filtrer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="row mt-5">
        {% for room in rooms %}
            <div class="shadow col-md-4 mb-4">
                <div class="card card-bg rounded-4">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ room.name }}
                            capacité:
                            {{ room.capacity }}</h5>
                        <p class="card-text">{{ room.description }}</p>
                        <a href={{ path('app_room', { id: room.id } ) }} class="btn btn-gradient">Voir la room</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucune room trouvée</p>
        {% endfor %}
    </div>

{% endblock %}



