{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/confetti.css') }}">
{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h1 class="card-title display-4 mb-4">Thank you for booking a room with us!</h1>
                        <h3 class="card-text mb-4">Your reservation has been successfully made!</h3>
                        <a href="{{ path('app_home') }}" class="btn btn-warning btn-lg">Return to home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/confetti.js') }}"></script>
    <script>
        // Initialize the confetti effect
        var confettiSettings = { target: 'confetti-canvas' };
        var confetti = new ConfettiGenerator(confettiSettings);
        confetti.render();

        // Stop the confetti after 5 seconds
        setTimeout(function() {
            confetti.clear();
        }, 5000);
    </script>
{% endblock %}