{% extends 'base.html.twig' %}

{% block title %}
	{{ oneRoom.name }}
{% endblock %}

{% block body %}
<div class="row pt-3 pb-3">
		<div class="card p-4 rounded-3">
	<h1>{{ oneRoom.name }} capacité :{{ oneRoom.capacity }}</h1>
	<p>{{ oneRoom.description }}</p>
	{# afficher les entités de manytomany dans room #}
<h6> software :
	{% for software in oneRoom.software %}
	{{ software.name }}
	{% endfor %}
</h6>
<h6> material :
	{% for material in oneRoom.material %}
	{{ material.name }}
	{% endfor %}
</h6>
<h6> ergonomics :
	{% for ergonomics in oneRoom.ergonomics %}
	{{ ergonomics.name }}
	{% endfor %}
</h6>
</div>
</div>

	<div class="col-md-12 text-center">
		<a class="btn btn-warning" href={{ path('app_rooms') }}>Revenir à toutes les notes</a>
		<a class="btn btn-warning" href={{path ("app_reservation", {'id': oneRoom.id }) }}>Réserver</a>
		
	</div>

	

{% endblock %}
