{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}


	<section
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">

					<h1 class="mb-0 bread">Contact</h1>
					
				</div>
			</div>
		</div>
	</section>


	<div class="col-md-12">
		<div class="wrapper">
			<div class="row no-gutters">
				<div class="col-lg-8 col-md-7 d-flex align-items-stretch">
					<div class="contact-wrap w-100 p-md-5 p-4">
						<h3 class="mb-4">Get in touch</h3>
						{{ form_start(form) }}
						<div class="row form-group">
							<div class="col-md-6">
								{{ form_row(form.firstName,{'attr':{'class':'form-control'}}) }}
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-6">
								{{ form_row(form.lastName,{'attr':{'class':'form-control'}}) }}
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								{{ form_row(form.email,{'attr':{'class':'form-control'}}) }}
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								{{ form_row(form.message,{'attr':{'class':'form-control'}}) }}
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12 py-3 px-9">
								<input type="submit" value="Envoyer" class="btn btn-warning">
								<div class="submitting"></div>
							</div>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
				<div class="col-lg-4 col-md-5 d-flex align-items-stretch">
					<div class="info-wrap bg-warning w-100 p-md-5 p-4">
						<h3>Let's get in touch</h3>
						<p class="mb-4">We're open for any suggestion or just to have a chat</p>
						<div class="dbox w-100 d-flex align-items-start">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="fa fa-map-marker"></span>
							</div>
							<div class="text pl-3">
								<p>
									<span>Address: 4 allée des 5 Tailles 59650 Villeneuve d'Ascq France</span>
								</p>
							</div>
						</div>
						<div class="dbox w-100 d-flex align-items-center">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="fa fa-phone"></span>
							</div>
							<div class="text pl-3">
								<p>
									<span>Phone: 0625023349</span>
								</p>
							</div>
						</div>
						<div class="dbox w-100 d-flex align-items-center">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="fa fa-paper-plane"></span>
							</div>
							<div class="text pl-3">
								<p>
									<span>Email: admin@gmail.com</span>
									
								</p>
							</div>
						</div>
						<div class="dbox w-100 d-flex align-items-center">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="fa fa-globe"></span>
							</div>
							<div class="text pl-3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></div></section>{% endblock %}
